<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.smalldai.smalldaispringboot.mapper.generation.GenTableColumnMapper">
    <resultMap id="listColumnBytIdMap" type="top.smalldai.smalldaispringboot.to.ColumnTO">
        <id column="tc_id" property="tcId"></id>
        <result column="tc_name" property="name"></result>
        <result column="tc_remark" property="remark"></result>
        <result column="tc_size" property="size"></result>
        <result column="t_id" property="tId"></result>
        <result column="u_id" property="uId"></result>
        <result column="tc_primary_key" property="primaryKey"></result>
        <result column="tc_if_null" property="ifNull"></result>
        <result column="tc_auto" property="auto"></result>
    </resultMap>

    <select id="listColumnBytId" resultMap="listColumnBytIdMap">
        select tc_id, tc_name, tc_remark, tc_size, t_id, u_id, tc_primary_key, tc_if_null, tc_auto
        from t_gen_table_column
        where is_deleted = 1 and t_id = #{tId}
    </select>
</mapper>